* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  max-width: 420px;
}

.max-width-wrapper {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

h1.title {
  margin-top: -24px;
  margin-bottom: 64px;
}

p {
  font-size: 1.25rem;
  margin-bottom: 24px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 96px;
  padding-bottom: 96px;
}

.card {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -16px;
  margin-right: -24px;
  margin-left: -24px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

h2.indented-heading {
  padding: 16px 32px;
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-top: 0px;
  margin-left: -32px;
}